body{
font-family: Gordita Regular;
}
h1,h2,h3,h4
{
font-family: Gordita Bold;
}
h2{
	margin: 2%;
}
.text-muted{
	font-size: 12px;
}
#banniere{
position: relative;
background: #fff;
text-align: center;

}
#banniere-content{
height: 400px;
}
#banniere svg{
display: block;
}
.r-p{
border-radius: 40px;
}
.r{
border-radius: 18px;
}
.shad{
	box-shadow: 0px 12px 15px rgba(140, 152, 164, 0.4);
}
.shadmax{
	box-shadow: 0px 12px 15px rgba(140, 152, 164, 0.7);
}
.shad1{
	box-shadow: 0px 12px 15px rgba(140, 152, 164, 0.1);
}
.card{
	border:1px solid #fff;
}
.col-lg-4{
	height: 400px;
}
#card{
	width: 700px;
}